*{
    box-sizing: border-box;
}
.box{
    width: 300px;
    height: 300px;
    background-color: #5dabf4;
    font-size: 30px;
    color: black;

    /* border-width: 10px;
    border-style: solid;
    border-color: red; */

    border: 10px solid red;
    
    /* border-top: 10px;
    border-bottom: 10px;
     */

    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    /* border-radius: 50%; */

    /* padding-bottom: 30px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 25px; */
    
    /* padding: 20px; */
    /* padding-top = padding-bottom = padding-right - padding-left = 20px; */

    /* padding: 20px 30px; */
    /* padding-top = padding-bottom = 20px;
    padding-left = padding-right = 30px; */

    /* padding: 20px 30px 40px; */
    /* padding-top = 20px;
    padding-bottom = 30px;
    padding-left = padding-right = 30px;  */

    padding: 20px 30px 40px 70px;
    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px; */

    margin: 0 auto;
}
.box-1{
    width: 300px;
    height: 300px;
    background-color:brown;
    font-size: 40px;
    color: aliceblue;

    border: 8px solid greenyellow;

    /* border-radius: 10px; */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;

    padding: 20px 30px 40px 30px;
}